# Environment variables
#.env
#nginx/certs/

# IDE files
*.iml
.idea/

#dbinfo.py

.vscode/
.DS_Store

# Python
__pycache__/
*.pyc
.coverage

# machine_learning

ML/tlc_2025/
ML/raw/
#ML/output/*.csv
ML/output/
ML/describe/
ML/catboost_info/

