# Environment variables
#.env
#nginx/certs/

.env
*.env

# IDE files
*.iml
.idea/

#dbinfo.py

.vscode/
.DS_Store

# Python
__pycache__/
*.pyc
.coverage

# machine_learning
ML/tlc_2025/
ML/raw/
#ML/output/*.csv
ML/output/
ML/describe/
ML/catboost_info/


#Data
Data/describe/
#Data/output/
Data/output/images
#Data/create_real_accounts.py
#Data/create_placeholder_users.py

#config.py


#others
ModelServing/schema.sql




deploy/deployCloud/backend/GemFinder-1.0-SNAPSHOT.jar
deploy/deployCloud/frontend/dist
deploy/deployCloud/mysql_data
deploy/deployCloud/ollama_data
deploy/deployCloud/nginx/ssl
deploy/deployCloud/prediction/ML/output
deploy/deployCloud/prediction/script/output/attractions_final_v2.csv
deploy/deployCloud/prediction/script


deploy/deployLocal/backend/GemFinder-1.0-SNAPSHOT.jar
deploy/deployLocal/frontend/dist
deploy/deployLocal/mysql_data
deploy/deployLocal/ollama_data
deploy/deployLocal/nginx/ssl
deploy/deployLocal/prediction/ML/output
deploy/deployLocal/prediction/script/output/attractions_final_v2.csv
deploy/deployLocal/prediction/script

